@import url(https://fonts.googleapis.com/css?family=Hind:500);/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}figcaption,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus{outline:0!important}h1{margin-top:0;margin-bottom:.5rem}strong{font-weight:bolder}a{color:#007bff;text-decoration:none;background-color:transparent}a:hover{color:#0056b3;text-decoration:underline}a:not([href]):not([tabindex]){color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}svg{overflow:hidden;vertical-align:middle}caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:none}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}[hidden]{display:none!important}.h1,h1{margin-bottom:.5rem;font-weight:500;line-height:1.2}.h1,h1{font-size:2.5rem}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col,.col-sm,.col-sm-3{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}}@-webkit-keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}@keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}@-webkit-keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1}}@keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1}}.border{border:1px solid #dee2e6!important}.mb-3{margin-bottom:1rem!important}@media print{*,::after,::before{text-shadow:none!important;box-shadow:none!important}a:not(.btn){text-decoration:underline}@page{size:a3}body{min-width:992px!important}}.ui-checkbox-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 100px;
    min-width: 200px;
    min-height: 100px;
    margin: 10px 50px 10px 10px;
}

.ui-checkbox-btn input {
    display: none;
}

.ui-checkbox-btn .icon {
    margin-left: 10px;
}

.ui-checkbox-btn .text {
    display: inline-block;
    vertical-align: top;
    color: inherit;
}

.ui-checkbox-btn .text {
    font-size: 50px;
    line-height: 22px;
    margin-top: 22px;
    margin-left: 10px;
    padding-top: 8px;
    padding-left: 4px;
}

.ui-checkbox-btn.is-unchecked {
    border: 1px solid #7B9EA8;
    background-color: transparent;
    color: #7B9EA8;
    fill: #7B9EA8;
}

.ui-checkbox-btn.is-checked {
    border: 1px solid #B8B8B8;
    color: #7B9EA8;
    fill: #EBEBEB;
}

.ui-checkbox-btn.night {
    background-color: #293340;
}

.icon {
    fill: #7B9EA8;
    position: relative;
    display: inline-block;
    margin-top: 12px;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 50%;
}

.icon svg {
    position: absolute;
    top: 5px;
    right: 2px;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: auto;
    fill: inherit;
}

.is-checked .icon {
    fill: white;
}

.ui-btn-ping {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.ui-btn-ping:before {
    content: '';
    transform: scale(0, 0);
    transition-property: background-color transform;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.84);
}

.do-ping .ui-btn-ping:before {
    transform: scale(2.5, 2.5);
    transition-duration: .35s;
    background-color: rgba(255, 255, 255, 0.08);
}
.mode {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.mode.day {
    background-color: #FFFFFF;
}

.mode.night {
    background-color: #293340;
}

.chart-container {
    width: 95%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17rem;
}

.no-data-container {
    position: relative;
    width: 100%;
    height: 61rem;
    margin-bottom: 2rem;
    align-content: center;
    opacity: 0.5;
}

.no-data-container.day {
    background-color: #EBEBEB;
    color: #506273;
}

.no-data-container.night {
    background-color: #1D232F;
    color: #D4D6D7;
}

.no-data-text {
    position: absolute;
    top: 40%;
    left: 21%;
    align-content: center;
    font-size: 4rem;
}

.chart-page-container {
    width: 95%;
    max-width: 1200px;
    align-content: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.overview-canvas-container {
    touch-action: none;
    display: flex;
    align-content: center;
}

.main-canvas-container {
    touch-action: none;
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 50px;
}

.label-layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0
}

.invisible-chart-area-right {
    display: flex;
    background-color: #EBEBEB;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    right: 1rem;
}

.invisible-chart-area-right.night {
    background-color: #1D232F;
}

.invisible-chart-area-left {
    display: flex;
    background-color: #EBEBEB;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 1rem;
}

.invisible-chart-area-left.night {
    background-color: #1D232F;
}

.visible-chart-area {
    display: flex;
    border: 2px solid #7B9EA8;
    border-right-width: 15px;
    border-left-width: 15px;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
}
.switch-mode-container {
    align-content: center;
    background-color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 1.25rem;
    padding: 4rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #DDDDDD;
}

.switch-mode-container.night {
    background-color: #293340;
    border-color: #3D4B5A;
    color: #36A8F1
}

.switch-mode-button {
    text-align: center;
    display: inline-block;
    font-size: 3.5rem;
    padding: .5rem .5rem 1.1rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
